<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/init.css">
</head>
<body>
    <section class="section--form">
        <form class="formulario" action="/login" method="POST" autocomplete="off">
        <div class="center">
            <img src="/static/img/logo.jpg" alt="logo" width="100px">
        </div>
        <h1 class="title">please sing in</h1>
        <p class="register-click"><a href="./register.html">Click to register</a></p>
        <div class="user">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            <!-- <label for="username">Username</label> -->
        </div>
        <div class="password">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <!-- <label for="password">Password</label> -->
        </div>
        <div class="center">
            <button class="boton" type="submit">login</button>
        </div>
        </form>
    </section>
</body>
</html>